<form [formGroup]="form" class="registro-container">
    <nav>
        <button style="background: transparent; border: transparent; position: absolute; height: 100%; z-index: 1000;"  (click)="volver()">
            <img  id="icon" src="assets/signo-de-hospital.png" >
        </button>

        <h2 id="title">Sección usuarios</h2>        

        <div class="botones">
            <button class="btnNav" (click)="mostrarDiv('pacientes')">Pacientes</button>
            <button class="btnNav" (click)="mostrarDiv('listado')">Lista de Usuarios</button> 
            <button class="btnNav" (click)="mostrarDiv('registro')">Registro</button>
        </div>  
    </nav>

    <div *ngIf="!mostrarListado && !mostrarRegistro" class="contenedorFavs">
         
        <button *ngFor="let p of pacientes" class="fav-button" (click)="armarExcel(p)">
            <img class="fotoFav" [src]="p.foto" alt="">
            <!-- <p class="pFav">{{p.nombre}}</p> -->
            <p class="pFav">{{p.apellido}}</p>
        </button>
      
    </div>

    <div *ngIf="mostrarListado" class="contenedor">
        <!-- <h1 style="color: #D7E3FC; font-family: 'Monaco'; margin: 3%;">Listado Usuarios</h1> -->
        <div style="display: flex; flex-direction: column; width: 33%; height: 100%; margin: 10px; text-align:  center;">
            <h3 style="color: #D7E3FC; font-family: 'Monaco'; margin: 3%;">Listado Especialistas</h3>
            <table class="tUsuario">
                <tr>
                    <th>Foto</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>Estado</th>
                </tr>
                <tr *ngFor="let e of especialistas | orderAsc">
                    <td>
                        <div style="width: 100%; height: 100%; margin: 3%;">
                            <img class="foto" [src]="e.foto">
                        </div>
                    </td>
                    <td>{{e.apellido}}</td>
                    <td>{{e.nombre}}</td>
                    <td>{{e.dni}}</td>
                    <td>
                        <button *ngIf="e.tipo == 'especialista' && !e.aprobado" (click)="seleccionar('aprobado', e)" style="background-color: transparent; border: transparent; width: 50%; height: 50%; margin: 3%;">
                            <img style="width: 60%; height: auto;" src="assets/aceptar.png">
                        </button>
                        <button *ngIf="e.tipo == 'especialista' && e.aprobado" (click)="seleccionar('rechazado', e)" style="background-color: transparent; border: transparent; width: 50%; height: 50%; margin: 3%;">
                            <img style="width: 85%; height: auto;" src="assets/rechazar.png">
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div style="display: flex; flex-direction: column; width: 33%; height: 100%; margin: 10px; text-align: center;">
            <h3 style="color: #D7E3FC; font-family: 'Monaco'; margin: 3%;">Listado Pacientes</h3>
            <table class="tUsuario">
                <tr>
                    <th>Foto</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>DNI</th>
                </tr>
                <tr *ngFor="let p of pacientes" (click)="seleccionarPaciente(p)">
                    <td>
                        <div style="width: 63%; height: 63%; display: flex; justify-content: center;">
                            <img class="foto" [src]="p.foto">
                        </div>
                    </td>
                    <td>{{p.apellido}}</td>
                    <td>{{p.nombre}}</td>
                    <td>{{p.dni}}</td>
                </tr>
            </table>
        </div>

        <div style="display: flex; flex-direction: column; width: 33%; height: 100%; margin-top: 10px; margin-bottom: 10px; text-align: center;">
            <h3 style="color: #D7E3FC; font-family: 'Monaco'; margin: 3%;">Turnos del Paciente</h3>
            <div class="usuario" style="height: 80%; flex-direction: column;">
                <table class="tTurnos" *ngIf="diaHistorial != null">
                    <tr>
                        <th>Especialidad</th>
                        <th>Especialista</th>
                        <th>Día</th>
                    </tr>
                    <tr *ngFor="let h of historial" (click)="diaHistorial = h">
                        <td>{{h.especialidad}}</td>
                        <td>{{h.especialista}}</td>
                        <td>{{h.fechaTurno}}</td>
                    </tr>
                </table>
                <div *ngIf="diaHistorial != null" style="height: auto; width: 90%; flex-direction: column; border: 3px solid #64B5F6; margin: 1px;">
                    <p style="font-weight: bold; margin: 3px;">Historia Clínica</p>
                    <div style="display: flex; flex-direction: row;">
                        <p class="dPaciente" style="margin-left: 3px; width: 50%;">Altura: {{this.diaHistorial != null ? this.diaHistorial.altura : ''}}</p>
                        <p class="dPaciente" style="margin-left: 3px; width: 50%;">Peso: {{this.diaHistorial != null ? this.diaHistorial.peso : ''}}</p>
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <p class="dPaciente" style="margin-left: 3px; width: 50%;">Temperatura: {{this.diaHistorial != null ? this.diaHistorial.temperatura : ''}}</p>
                        <p class="dPaciente" style="margin-left: 3px; width: 50%;">Presión: {{this.diaHistorial != null ? this.diaHistorial.presion : ''}}</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div *ngIf="mostrarRegistro" class="contenedor">
        <div class="contenedorRegistro">
            <h1 style="color: #D7E3FC; font-family: 'Monaco'; margin: 5%;">Registrar Administrador</h1>
                
                <div class="contenedor-input row">
                    <div class="col">
                        <div class="col"> 
                            <div class="input-field">
                                <input type="text" required formControlName="nombre" name="name" [(ngModel)]="nombre">
                                <label>Nombre</label>
                            </div>
                            <div class="row">
                                <span class="msjError col" *ngIf="form.controls['nombre'].touched && form.controls['nombre'].hasError('required')">
                                    Campo obligatorio.
                                </span>
                                <span class="msjError col" *ngIf="form.controls['nombre'].touched && form.controls['nombre'].hasError('invalido')">
                                    Nombre invalido.
                                </span>
                            </div>
                        </div> 
                    </div>
                    <div class="col">
                        <div class="col"> 
                            <div class="input-field">
                                <input type="text" required formControlName="apellido" name="surname" [(ngModel)]="apellido">
                                <label>Apellido</label>
                            </div>
                            <div class="row">
                                <span class="msjError col" *ngIf="form.controls['apellido'].touched && form.controls['apellido'].hasError('required')">
                                    Campo obligatorio.
                                </span>
                                <span class="msjError col" *ngIf="form.controls['apellido'].touched && form.controls['apellido'].hasError('invalido')">
                                    Apellido invalido.
                                </span>
                            </div>
                        </div> 
                    </div>
                </div>
        
                <div class="contenedor-input row">
                    <div class="col">
                        <div class="col"> 
                            <div class="input-field">
                                <input type="number" required formControlName="edad" name="age" [(ngModel)]="edad">
                                <label>Edad</label>
                            </div>
                            <div class="row">
                                <span class="msjError col" *ngIf="form.controls['edad'].touched && form.controls['edad'].hasError('required')">
                                    Campo obligatorio.
                                </span>
                                <span class="msjError col" *ngIf="form.controls['edad'].touched && form.controls['edad'].hasError('invalido')">
                                    Edad invalida.
                                </span>
                            </div>
                        </div> 
                    </div>
                    <div class="col">
                        <div class="col"> 
                            <div class="input-field">
                                <input type="number" required formControlName="dni" name="document" [(ngModel)]="dni">
                                <label>DNI</label>
                            </div>
                            <div class="row">
                                <span class="msjError col" *ngIf="form.controls['dni'].touched && form.controls['dni'].hasError('required')">
                                    Campo obligatorio.
                                </span>
                                <span class="msjError col" *ngIf="form.controls['dni'].touched && form.controls['dni'].hasError('invalido')">
                                    DNI invalida.
                                </span>
                            </div>
                        </div> 
                    </div>
                </div>
                
                <div class="contenedor-input row">
                    <div class="col">
                        <div class="col"> 
                            <div class="input-field">
                                <input type="text" required formControlName="correo" name="email" [(ngModel)]="correo" style="width: 95%;">
                                <label>Correo electrónico</label>
                            </div>
                            <div class="row">
                                <span class="msjError col" *ngIf="form.controls['correo'].touched && form.controls['correo'].hasError('required')">
                                    Campo obligatorio.
                                </span>
                                <span class="msjError col" *ngIf="form.controls['correo'].touched && form.controls['correo'].hasError('invalido')">
                                    Correo electrónico invalida.
                                </span>
                            </div>
                        </div> 
                    </div>
                </div>
        
                <div class="contenedor-input row">
                    <div class="col">
                        <div class="col"> 
                            <div class="input-field">
                                <input type="password" required formControlName="clave" name="pass1" [(ngModel)]="clave">
                                <label>Contraseña</label>
                            </div>
                            <div class="row">
                                <span class="msjError col" *ngIf="form.controls['clave'].touched && form.controls['clave'].hasError('required')">
                                    Campo obligatorio.
                                </span>
                                <span class="msjError col" *ngIf="form.controls['clave'].touched && form.controls['clave'].hasError('invalido')">
                                    Contraseña invalida.
                                </span>
                            </div>
                        </div> 
                    </div>
                    <div class="col">
                        <div class="col"> 
                            <div class="input-field">
                                <input type="password" required formControlName="claveRep" name="pass2" [(ngModel)]="claveRep">
                                <label>Repetir la contraseña</label>
                            </div>
                            <div class="row">
                                <span class="msjError col" *ngIf="form.controls['claveRep'].touched && form.controls['claveRep'].hasError('required')">
                                    Campo obligatorio.
                                </span>
                                <span class="msjError col" *ngIf="form.controls['claveRep'].touched && form.controls['claveRep'].hasError('invalido')">
                                    Contraseña invalida.
                                </span>
                            </div>
                        </div> 
                    </div>
                </div>
        
                <div style="flex-direction: row; display: flex;">
                    <div class="file">
                        <input type="file" id="file1" class="fileInput" accept=".png, .jpg, .jpeg" (click)="seleccionarFoto(1)">
                        <!-- <label for="file1" class="labelInputFile">
                            <img class="imgFile" src="assets/subir.png">
                        </label> -->
                    </div>
                </div>
        
                <button (click)="alta()" class="btnEspecialidades">Registrar</button>
        </div>
    </div>
            
    <div class="toast" id="myToast" *ngIf="mostrarToast">{{mensaje}}</div>

</form>
