

.contenedor{
    flex-direction: column; 
    display: flex; 
    position: relative;
    width: 45%;
    height: auto;
    background: #0466C8;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    top: 20%;
}

.contenedor-gral{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

/* Estilizar el input checkbox para ocultarlo */
input[type="radio"] {
    display: none;
}
  
/* Estilizar el label para que parezca un botón de toggle */
.toggle-label {
    display: inline-block;
    width: 50px;
    height: 20px;
    background-color: #D7E3FC;
    border: 2px solid #D7E3FC;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
  /* Estilo para el botón cuando el checkbox está marcado (encendido) */
input[type="radio"]:checked + .toggle-label {
    background-color: #4CAF50; /* Cambia el color de fondo cuando está activado */
}
  
  /* Estilizar el "punto" del botón de toggle */
.toggle-label::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #D7E3FC;
    border: 2px solid #D7E3FC;

    border-radius: 50%;
    top: -1px;
    left: 0px;
    transition: transform 0.3s;
}
  
  /* Estilo para el "punto" cuando el checkbox está marcado (encendido) */
input[type="radio"]:checked + .toggle-label::before {
    transform: translateX(30px); /* Mueve el "punto" hacia la derecha cuando está activado */
}
  
.toggles{
    margin: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

//txt

.contenedor-input{
    flex-direction: row; 
    display: flex;
    width: 100%;
}

.input-field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px;
    width: 100%;
}

.input-field input{
    width: 90%;
    height: 40px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #D7E3FC;
    background: transparent;
    color: #D7E3FC;
    outline: none;
    font-family: "Monaco";
}

.input-field label{
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    color: #D7E3FC;
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
    font-family: "Monaco";
}

input:focus ~ label,
input:valid ~ label{
    top: 0;
    left: 6%;
    font-size: 16px;
    padding: 0 2px;
    background: #0466C8;
}

.input-field input:placeholder-shown + label {
    transform: translateY(0);
  }
  
  .input-field input:focus + label {
    background: #0466C8;
  }

.texto{
    color: #D7E3FC;
    font-size: 19px;
    pointer-events: none;
    margin-left: 15px;
    font-family: "Monaco";
}

.btnEspecialidades{
    color: #0466C8;
    font-size: 19px;
    width: auto;
    height: auto;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #D7E3FC;
    background: #D7E3FC;
    outline: none;
    margin: 7px;
    font-family: "Monaco";
}

.fileInput{
    // display: none;
    width: 45%;
    height: 40px;
}

.file{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    width: 100%;
}

.labelInputFile{
    width: 50%;
    height: 80%;
    background-color: #D7E3FC;
    margin: 7px;
    border: 2px solid #D7E3FC;
    border-radius: 6px;
    background: transparent;
    color: #D7E3FC;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Monaco";
}

.imgFile{
    width: 15%;
    margin-top: 5.5px;
}

.msjError{
    font-size: 15px;
    font-weight: bold;
    color: rgb(191, 77, 77);
    text-align: center;
    font-family: "Monaco";
}

.toast {
    display:flex;
    background-color: #D7E3FC;
    color: #023E7D;
    padding: 10px;
    border-radius: 5px;
    position:absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 10%;
    z-index: 1000;
    animation: fadein 2s, fadeout 2s 2s;
}
  
@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
@keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}