.registro-container{
    //background-image: url('../../../assets/fondo2.jpg');
    background-color: #ABC4FF;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    position: fixed;
    display:flex;
    justify-content:center;
    align-items: center;

    //flex-direction: column;
}

button{
    display: flex;
    height: 100%;
    width: 45%;
    background: transparent;
    border: transparent;
    border-radius: 50px;
}

.botones{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 85%;

}

img{
    height: 100%;
    width: 100%;
}