<div class="registro-container">
    <nav>
        <img id="icon" src="assets/signo-de-hospital.png">
        <h2 id="title">Bienvenido</h2>
        <div class="botones">
            <button miActive miHover class="btnNav" *ngIf="userLogeado && usuario.tipo === 'administrador'" routerLink="/informes">Estadísticas</button>
            <button miActive miHover class="btnNav" *ngIf="userLogeado && usuario.tipo === 'administrador'" routerLink="/turnos">Turnos</button>
            <button miActive miHover class="btnNav" *ngIf="userLogeado && usuario.tipo === 'administrador'" routerLink="/seccionUsuarios">Seccion Usuarios</button> 
            <button miActive miHover class="btnNav" *ngIf="!userLogeado" routerLink="/login">Ingresar</button>
            <button miActive miHover class="btnNav" *ngIf="!userLogeado" routerLink="/registro">Registrarse</button>

            <button miActive miHover class="btnNav" *ngIf="userLogeado && usuario.tipo !== 'administrador'" routerLink="/misTurnos">Mis turnos</button>
            <button miActive miHover class="btnNav" *ngIf="userLogeado && usuario.tipo === 'administrador'" routerLink="/solicitarTurno">Solicitar turno</button>

            <button miActive miHover class="btnNav" *ngIf="userLogeado && usuario.tipo === 'paciente'" routerLink="/solicitarTurno">Solicitar turno</button>
            <button miActive miHover class="btnNav" *ngIf="userLogeado && usuario.tipo === 'especialista'" routerLink="/pacientes">Pacientes</button>

            <button miActive miHover class="btnNav" *ngIf="userLogeado" routerLink="/miPerfil">Mi Perfil</button>
            
            <button miActive miHover class="btnNav" *ngIf="userLogeado" (click)="logout()">Salir</button>
        </div>         
    </nav>
</div>

<router-outlet></router-outlet>