<div class="registro-container">
    <nav>
        <img id="icon" src="assets/signo-de-hospital.png">
        <h2 id="title">Bienvenido</h2>
        <div class="botones">
            <button class="btnNav" *ngIf="esAdmin" routerLink="/turnos">Turnos</button>
            <button class="btnNav" *ngIf="esAdmin" routerLink="/seccionUsuarios">Seccion Usuarios</button> 
            <button class="btnNav" *ngIf="!userLogeado" routerLink="/login">Ingresar</button>
            <button class="btnNav" *ngIf="!userLogeado" routerLink="/registro">Registrarse</button>
            <button class="btnNav" *ngIf="userLogeado && !esAdmin" routerLink="/misTurnos">Mis turnos</button>
            <button class="btnNav" *ngIf="userLogeado" (click)="logout()">Salir</button>
        </div>         
    </nav>
</div>

<router-outlet></router-outlet>