<div class="registro-container">
    <nav>
        <button style="background: transparent; border: transparent; position: absolute; height: 100%; z-index: 1000;"  (click)="volver()">
            <img  id="icon" src="assets/signo-de-hospital.png" >
        </button>
        <h2 id="title">Mi Perfil</h2>
        <div class="botones">
            <button class="btnNav" *ngIf="userLogeado && tipo === 'especialista'" routerLink="/misHorarios">Mis horarios</button>
        </div>         
    </nav>

    <div class="datos-container">
        <div class="contenedor">
            <img class="imagenUsuario" [src]='this.usuario.foto'>
            <div style="margin: 7px; align-items: center; text-align:start; width: 30%;">
                <h1 class="texto" style="font-weight: bold; font-size: 30px;">{{this.usuario != null ? this.usuario.nombre : ''}} {{this.usuario != null ? this.usuario.apellido : ''}}</h1>
                <h1 class="texto">DNI: {{this.usuario != null ? this.usuario.dni : ''}}</h1>
                <h1 class="texto">Edad: {{this.usuario != null ? this.usuario.edad : ''}}</h1>
                <h1 class="texto" *ngIf="tipo === 'paciente'">Obra Social: {{this.usuario != null ? this.usuario.obraSocial : ''}}</h1>
                
            </div>
            <div *ngIf="tipo === 'especialista'" style="width: 40%;">
                <h1 class="texto" >Especialidades:</h1>
                <div style="display: flex; flex-direction: row;">
                    <div class="imagEspecialidades" *ngFor="let e of especialidades">
                        <img style="margin: 3px; height: 60%; width: 60%;" src={{e.foto}}>
                    </div>
                </div>
            </div>
            <div *ngIf="usuario.tipo === 'paciente'" style="width: 40%; height: 100%; justify-content: center; align-items: center;">
                <div class="usuario" style="height: 100%; flex-direction: column; justify-content: center; align-items: center;">
                    <table class="tTurnos" >
                        <tr>
                            <th>Especialidad</th>
                            <th>Especialista</th>
                            <th>Día</th>
                        </tr>
                        <tr *ngFor="let h of historial" (click)="historialSeleccionado = h">
                            <td>{{h.especialidad}}</td>
                            <td>{{h.especialista}}</td>
                            <td>{{h.fechaTurno}}</td>
                        </tr>
                    </table>
                    <div *ngIf="historialSeleccionado != null" style="height: auto; width: 90%; flex-direction: column; border: 3px solid #ABC4FF; margin: 1px; margin: 5px;">
                        <p style="font-weight: bold; margin: 3px;">Historia Clínica</p>
                        <div style="display: flex; flex-direction: row;">
                            <p class="dPaciente" style="margin-left: 3px; width: 50%;">Altura: {{this.historialSeleccionado != null ? this.historialSeleccionado.altura : ''}}</p>
                            <p class="dPaciente" style="margin-left: 3px; width: 50%;">Peso: {{this.historialSeleccionado != null ? this.historialSeleccionado.peso : ''}}</p>
                        </div>
                        <div style="display: flex; flex-direction: row;">
                            <p class="dPaciente" style="margin-left: 3px; width: 50%;">Temperatura: {{this.historialSeleccionado != null ? this.historialSeleccionado.temperatura : ''}}</p>
                            <p class="dPaciente" style="margin-left: 3px; width: 50%;">Presión: {{this.historialSeleccionado != null ? this.historialSeleccionado.presion : ''}}</p>
                        </div>
                        <div style="display: flex; flex-direction: row;">
                            <p class="dPaciente" style="margin-left: 3px; width: 50%;">{{this.historialSeleccionado != null ? this.historialSeleccionado.clave1 : ''}}: {{this.historialSeleccionado != null ? this.historialSeleccionado.valor1 : ''}}</p>
                            <p class="dPaciente" style="margin-left: 3px; width: 50%;">{{this.historialSeleccionado != null ? this.historialSeleccionado.clave2 : ''}}: {{this.historialSeleccionado != null ? this.historialSeleccionado.valor2 : ''}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>