<div class="contenedor">
    <h1 style="color: #D7E3FC; font-family: 'Monaco'; margin: 3%;">Turnos</h1>
    <div style="flex-direction: row; display: flex;">
        <p class="texto">Especialidad</p>
        <div class="toggles">
            <input type="radio" id="toggle" name="togg" (click)="seleccionarFiltro('especialidad')">
            <label for="toggle" class="toggle-label"></label>
        </div>
        <p class="texto">Especialista</p>
        <div class="toggles">
            <input type="radio" id="toggle2" name="togg" (click)="seleccionarFiltro('especialista')">
            <label for="toggle2" class="toggle-label"></label>
        </div>
        <p class="texto">Todos</p>
        <div class="toggles">
            <input type="radio" id="toggle3" name="togg" (click)="seleccionarFiltro('')">
            <label for="toggle3" class="toggle-label"></label>
        </div>
    </div>

    <div style="width: 50%; display: flex; position: relative; justify-content: space-evenly; flex-wrap: wrap;">
        <div *ngFor="let e of listado">
            <button class="btnEspecialidades" (click)="filtrar(e)">{{e}}</button>
        </div>
    </div> 

    <div class="usuario" >
        <table class="tTurnos">
            <tr>
                <th>Especialidad</th>
                <th>Especialista</th>
                <th>Día</th>
                <th>Hora</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr *ngFor="let t of turnos">
                <td><p>{{t.especialidad}}</p></td>
                <td><p>{{t.apellidoEspecialista}}</p></td>
                <td><p>{{t.dia}}</p></td>
                <td><p>{{t.hora}}</p></td>
                <td>        
                    <button class="btnEspecialidades" *ngIf="!t.finalizado && !t.cancelado" (click)="cambiarEstado(t, 'cancelar')">Cancelar</button>
                </td>
                <td>        
                    <button class="btnEspecialidades" *ngIf="t.resenia !== ''" (click)="cambiarEstado(t, 'resenia')">Reseña</button>
                </td>
                <td>        
                    <button class="btnEspecialidades" *ngIf="t.resenia !== '' && t.finalizado" (click)="cambiarEstado(t, 'encuesta')">Encuesta</button>
                </td>
                <td>        
                    <button class="btnEspecialidades" *ngIf="t.finalizado" (click)="cambiarEstado(t, 'calificar')">Calificar Atencion</button>
                </td>
            </tr>
        </table>
    </div> 
</div>

<div id="miModal" class="modal" *ngIf="abrir">
    <div class="modal-contenido">
        <span class="cerrar-modal" id="cerrarModalBtn" (click)="cerrar()">&times;</span>
        <div *ngIf="resenia == ''">
            <h2 style="color: #D7E3FC; font-family: 'Monaco'; margin: 3%;">Deje un comentario acerca de su acción</h2>
            <div class="input-field">
                <input type="text" id="miInput" required name="com" [(ngModel)]="comentario" style="width: 65%;">
                <label>Comentario</label>
            </div>
            <button class="btnEspecialidades" id="obtenerDatoBtn" (click)="enviar()">Enviar</button>
        </div>

        <div *ngIf="resenia != ''">
            <h2 style="color: #D7E3FC; font-family: 'Monaco'; margin: 3%; font-weight: bold;">Comentario</h2>
            <h2 style="color: #D7E3FC; font-family: 'Monaco'; margin: 3%;">{{resenia}}</h2>
        </div>
    </div>
</div>