.registro-container{
    background: #E3F2FD;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    position: fixed;
    justify-content:center;
    display: flex;
}

#title{
    margin-left: 1%;
    margin-right: 1%;
    font-family: "Monaco";
    font-weight: bold;
    font-size: 28px;
    color: #023E7D;
    position: relative;
    display: flex;
    top: 25%;
    left: 4%;
}

#icon{
    margin: 0.5%;
    margin-left: 1%;
    height: 80%;
}

nav{
    background-color: #90CAF9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    height:10%;
    width: 100%;
    position:fixed;
    display: flex;
}

.btnNav{
    width: 15%;
    font-family: "Monaco";
    font-size: 120%;
    color: #023E7D;
    background-color: #E3F2FD;
    text-align: center;
    line-height: 2;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 2px solid #023E7D;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.btnNav:hover{
    background-color: #64B5F6;
    color: #023E7D;
    font-weight: bold;
}

.btnNav:active{
    background-color: #90CAF9;
    color: #023E7D;
    font-weight: bold;
}

.btnUser{
    background-color: transparent;
    justify-content:center;
    margin-left: 1%;
    margin-right: 3%;
    border: 2px solid #b4e100;
    border-radius: 50px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: fit-content;
    align-items: center;
}

.btnUser:hover{
    background-color: #b4e100;
}

.btnUser:active{
    background-color: #d5fe40;
}

#user{
    height:63%;
    width: 105%;
}

.botones{
    position:absolute;
    display:flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    right: 0;
}

.contenedor{
    flex-direction: column; 
    display: flex; 
    position: relative;
    width: 60%;
    height: 50%;
    background: #64B5F6;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    top: 30%;
}

/* Estilizar el input checkbox para ocultarlo */
input[type="radio"] {
    display: none;
}
  
/* Estilizar el label para que parezca un botón de toggle */
.toggle-label {
    display: inline-block;
    width: 50px;
    height: 20px;
    background-color: #E3F2FD;
    border: 2px solid #D7E3FC;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
  /* Estilo para el botón cuando el checkbox está marcado (encendido) */
input[type="radio"]:checked + .toggle-label {
    background-color: #4CAF50; /* Cambia el color de fondo cuando está activado */
}
  
  /* Estilizar el "punto" del botón de toggle */
.toggle-label::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #E3F2FD;
    border: 2px solid #D7E3FC;

    border-radius: 50%;
    top: -1px;
    left: 0px;
    transition: transform 0.3s;
}
  
  /* Estilo para el "punto" cuando el checkbox está marcado (encendido) */
input[type="radio"]:checked + .toggle-label::before {
    transform: translateX(30px); /* Mueve el "punto" hacia la derecha cuando está activado */
}
  
.toggles{
    margin: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.btnEspecialidades{
    color: #0466C8;
    font-size: 19px;
    width: auto;
    height: auto;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #D7E3FC;
    background: #D7E3FC;
    outline: none;
    margin: 7px;
    font-family: "Monaco";
}

.texto{
    color: #D7E3FC;
    font-size: 19px;
    pointer-events: none;
    margin-left: 15px;
    font-family: "Monaco";
}

p{
    color: #002855; 
    font-family: 'Monaco';
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
}

.usuario{
    width: 90%;
    height: 9%;
    background: #ABC4FF;
    margin: 3px;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: row;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}




.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-contenido {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .cerrar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cerrar-modal:hover {
    color: black;
  }